@use "../components/scss/variables" as *;

.footer {
    background-color: $grid-background-dark;
    color: $text-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 155px;
    text-align: center;
    width: 100%;
    position: relative;
  
    &__logo {
      margin-top: 1rem;
    }
  }
