.navbar {
    display: flex;
    align-items: center;
    padding: 2rem;
    color: black;
    font-weight: 500;
    gap: 2rem;
    font-size:  18px;
    white-space: nowrap;
}

.navbar__logo {
    margin-right: auto;
}

.navbar__logo img {
    width: 180px;
}