@use "./base/variables" as *;
@use "./base/mixins" as *;

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 43px;
    background-color: $grid-background-white;
    padding-top: 56px;
    padding-bottom: 56px;
    border-radius: 25px;
  
    @include respond-to(mobile) {
      margin: 0;
      padding: 0;
      gap: 20px;
      margin-bottom: 27px;
      margin-top: 22px;
    }
  }
  