@use "./base/variables" as *;
@use "./base/mixins" as *;

.apartment__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
  
    h1 {
      font-size: $font-size-title;
      margin: 0;
      font-weight: 500;
      color: $color-primary;
  
      @include respond-to(mobile) {
        font-size: $font-size-subtitle; 
      }
    }
  
    p {
      font-size: $font-size-normal;
      color: $text-black;
      margin-bottom: 10px;
      font-weight: 600;
    }
  }
  
  /* Tags (boutons ou badges) */
  .apartment__tags {
    .tags {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      margin: 8px 0;
  
      .tag {
        background-color: $color-primary;
        color: $text-white;
        padding: 5px 1rem;
        @include rounded;
        font-size: $font-size-small;
        font-weight: bold;
      }
    }
  }
  
  /* Informations principales */
  .apartment__info {
    width: 60%;
  
    @include respond-to(mobile) {
      width: 100%; 
      display: flex;
      flex-direction: column; 
    }
  }
  
  /* Section note et hôte */
  .apartment__rating-host {
    display: flex;
    align-items: flex-end;
    flex-direction: column; 
    width: 40%;
  
    @include respond-to(mobile) {
      width: 100%;
      flex-direction: row-reverse; 
      justify-content: space-between;
      align-items: center; 
    }
  }
  
  /* Section de l'hôte */
  .apartment__host {
    .host__details {
      display: flex;
      align-items: center;
      gap: 10px;
      text-align: right;
  
      .host__picture {
        width: 50px;
        height: 50px;
        border-radius: 50%; 
        object-fit: cover; 


      }
  
      /* Texte de l'hôte */
      p {
        font-size: $font-size-normal;
        color: $color-primary;
        font-weight: bold;
        width: 60%;
      }
    }
  }
  
  /* Section note */
  .apartment__rating {
    .rating {
      font-size: $font-size-title;
      font-weight: 700;
      color: $color-primary;
      margin: 1rem 0;
  
    }
  }
  
  /* Sections déroulantes */
  .apartment-details__collapses {
    display: flex;
    justify-content: space-between; 
  
    @include respond-to(mobile) {
      flex-direction: column; 
    }
  
    .collapse {
      width: 48%; 
  
      @include respond-to(mobile) {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }
  