@use "./base/variables" as *;
@use "./base/mixins" as *;

.collapse {
  margin: 2rem 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: $color-primary;
    color: $text-white;
    font-weight: bold;
    @include rounded;
    user-select: none;
    transition: background-color 0.3s ease;
    height: 3.5rem;

  }

  &__title {
    margin-left: 15px;
  }

  &__icon {
    font-size: $font-size-subtitle;
    transition: transform 0.3s ease;
    margin-right: 15px;
  }

  &__content-wrapper {
    overflow: hidden; 
    max-height: 0; 
    transition: max-height 0.3s ease;
  }

  &__content {
    padding: 1rem;
    background-color: $collapse-background;
    color: $text-black;
  }
}

.about__collapse {
  margin: 1rem;
}