@use "./variables" as *;

.footer {
    background-color: $grid-background-dark;
    color: $text-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 143px;
    text-align: center;
    width: 100%;
    position: absolute;
    text-align: center;
  
    &__logo {
      margin-top: 1rem;
    }

    @media screen and (max-width: 768px) {
      position: relative;
      
    }
  }

