$color-primary: #ff6060;
$color-secondary: #b85050;
$text-white: white;
$text-black: black;

$grid-background-white: #F6F6F6;
$grid-background-dark: black;
$collapse-background: #f9f9f9;

// Breakpoints
$breakpoint-mobile: 768px;


// Tailles de texte
$font-size-small: 12px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-normal: 1rem;
$font-size-title: 2.5rem;   
$font-size-subtitle: 1.5rem;